.loginForm {
  border: solid black 1px;
  max-width: fit-content;
  text-align: center;
  margin-left: 32.5rem;
  padding: 2rem;
  background-color: lightcyan;
  margin-top: 5rem;
}

.signupForm {
  border: solid black 1px;
  max-width: fit-content;
  text-align: center;
  margin-left: 32.5rem;
  padding: 2rem;
  background-color: lightcyan;
  margin-top: 5rem;
}
